body{
 background: pink;
font-family: Arial, Helvetica, sans-serif;
}

#content{
background: white;
padding: 5px;
margin: 20px;
width: 70%;
border-radius: 10px;
border: green;

}

#main-nav ul{
    padding-left:0; /*removes the left padding*/
    width: fit-content;
    margin: auto;
}

#main-nav li{
    list-style-type: none; /*no bullets */
    display: inline-block;
}

#main-nav a{
    text-decoration: none;
    background: #FF8DA1;
    color:white;
}

h1{
    color: red;
}

p{
 color: blue;
}