body{
 background: pink;
font-family: Arial, Helvetica, sans-serif;
}

#content{
background: white;
padding: 5px;
margin: 20px;
width: 70%;
border-radius: 10px;
border: green;

}

h1{
    color: red;
}

p{
 color: blue;
}