/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
h1, h3 {
    text-align: center;
}

header {
    background-color: tan;
    padding: 10px;
}

#main-nav {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#main-nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

#main-nav li {
    list-style: none;
    border-bottom: 1px solid violet;
}

#main-nav a {
    text-decoration: none;
    padding: 5px;
    background: skyblue;
    color: white;
    text-align: center;
    display: block;
}

/* Main Content Styles */
#main-content {
    display: flex;
    flex-direction: row;
    background: skyblue;
    padding: 0;
    margin: 0;
    flex: 1;
    box-sizing: border-box;
}

.content-wrapper {
    flex: 1;
    margin-right: 20px;
}

#main-aside {
    width: 25%;
    background: lightcoral;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
}

#main-aside h2 {
    margin-top: 0;
}

#main-aside ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#main-aside li {
    padding: 5px 0;
}

#main-aside a {
    text-decoration: none;
    color: black;
}

/* News Section Styles */
#news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: skyblue;
    padding: 0;
    margin: 0;
}

#news .one {
    flex: 1 1 calc(25% - 20px); /* Adjust to include padding */
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px; /* Added padding */
}

#news img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px; /* Reduced margin */
}

/* Footer Styles */
#main-footer {
    background: tan;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 0;
}

#footer-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-sec .one {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    width: 80%;
    box-sizing: border-box;
}

#footer-sec img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

@media only screen and (min-width:768px) {
    

}