body {
    background: url("images/ocean-bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Navigation */
#main-header {
    background-color: skyblue;
    padding: 10px;
}

#main-nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

#main-nav li {
    flex: 1;
}

#main-nav a {
    text-decoration: none;
    padding: 10px;
    background: black;
    color: violet;
    text-align: center;
    display: block;
}

/* Content and Aside */
#content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px; /* Space for the footer */
}

#main-section {
    width: 75%;
    background: lightcyan;
    padding: 20px;
    border-radius: 5px;
}

#main-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

#species {
    background: lightgreen;
    padding: 5px;
    margin: 5px;
}

#news {
    display: flex;
    justify-content: space-between;
}

#news .one {
    flex: 1;
    padding: 10px;
}

#news img {
    max-width: 100%;
    border-radius: 5px;
}

#main-aside {
    width: 20%;
    background: lightsalmon;
    padding: 20px;
    border-radius: 5px;
}

#main-aside h2 {
    margin-top: 0;
}

#main-aside ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#main-aside li {
    padding: 5px 0;
}

#main-aside a {
    text-decoration: none;
    color: black;
}

/* Footer */
#main-footer {
    background: violet;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
