/* Structure */
body {
    background: url("images/ocean-bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex; /* Make content a flex container */
    justify-content: space-between; /* Distribute space between flex items */
}

/*side links*/
#species section {
    background: lightgreen;
    padding: 5px;
    margin: 5px;
}

#second-nav {
    text-decoration: none;
    padding: 5px;
    background: black;
    color: violet;
}

#main-aside {
    background: lightsalmon;
    align-self: flex-start; /* Align aside to the top */
    width: 25%; /* Set width for the aside */
    margin-left: auto; /* Push it to the far right */
}

#news section {
    background: lightcyan;
}

img {
    max-width: 100%;
}

#main-header {
    background-color: skyblue;
    border-radius: 5px;
}

#main-footer {
    background: violet;
}

/* Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style: none;
    border-bottom: 1px solid violet;
}

/*links on top*/
#main-nav a {
    text-decoration: none;
    padding: 5px;
    background: black;
    color: violet;
    display: block;
}

/* Typography */
#main-footer p {
    text-align: center;
}

/* Media Queries */

/* Apply to 600px and larger */
@media only screen and (min-width:600px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex: 1;
    }
}

/* Apply to 768px and larger */
@media only screen and (min-width:768px) {
    
}
