body {
 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* Header and Navigation */
#main-header {
    background-color: green;
    padding: 10px;
}

#main-nav {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#main-nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

#main-nav li {
    flex: 1;
}

#main-nav a {
    text-decoration: none;
    padding: 10px;
    background: black;
    color: violet;
    text-align: center;
    display: block;
}

/* Content and Aside */
#content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px; /* Space for the footer */
}

/* Main Section and Boxes */
#main-section {
    width: 75%; /* Allocate space for aside */
    background: lightcyan;
    padding: 20px;
    border-radius: 5px;
}

#species {
    background: skyblue;
    padding: 5px;
    margin: 5px;
}

#news {
    display: flex;
    flex-wrap: wrap; /* Ensures the news sections wrap */
    justify-content: space-between;
}

#news .one {
    flex: 1 1 22%; /* Ensures four sections per row */
    margin-bottom: 20px;
    box-sizing: border-box; /* Padding is included in the width */
}

#news img {
    max-width: 100%;
    border-radius: 5px;
}

/* Aside */
#main-aside {
    width: 20%; /* Ensures that aside stays next to main-section */
    background: lightsalmon;
    padding: 20px;
    border-radius: 5px;
    margin-left: 5%;
}

#main-aside h2 {
    margin-top: 0;
}

#main-aside ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#main-aside li {
    padding: 5px 0;
}

#main-aside a {
    text-decoration: none;
    color: black;
}

/* Footer */
#main-footer {
    background: violet;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
