body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;
}

#content{
    background: white;
    padding: 5px;
    margin: 20px;
    width: 70%;
    border-radius: 10px;
    border: green;
    
}

#main-nav ul{
    padding-left:0; /*removes the left padding*/
    width: fit-content;
    margin: auto;
}

#main-nav li{
    list-style-type: none; /*no bullets */
    display: inline-block;
}

#main-nav a{
    text-decoration: none;
    background: darkblue;
    color:white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: black;
    color: white;
}

p{
    color: tan;
}
#beach-image1, #beach-image2 {
    border: 3px black; 
    padding: 5px; 
    margin: 10px; 
    border-radius: 8px;
}

#beach-table {
    width: 100%;
    border-collapse: collapse; 
}


#beach-table caption {
    text-align: center;
}

#beach-table th {
    background-color: lightgray; 
    padding: 10px; /

}





    

