body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;
}
#main-nav ul{
    padding-left:0; /*removes the left padding*/
    width: fit-content;
    margin: auto;
}

#main-nav li{
    list-style-type: none; /*no bullets */
    display: inline-block;
}

#main-nav a{
    text-decoration: none;
    background: darkblue;
    color:white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: black;
    color: white;
}

p{
    color: tan;
}



    

