body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/assingment2_beach1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 2px;
    border: 2px solid green;
}

#main-nav ul {
    padding-left: 0; /* removes the left padding */
    width: fit-content;
    margin: auto;
}

#main-nav li {
    list-style-type: none; /* no bullets */
    display: inline-block;
}

#main-nav a {
    text-decoration: none;
    background: darkblue;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: black;
    color: white;
}

h1 {
    color: tan;
}

p {
    color: tan;
}

.beach-image {
    border: 2px solid black;
    padding: 10px;
    border-radius: 2px;
    margin: 5px auto; 
    width: 300px;
    height: 250px;
    position: center;
}


#beach-table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    background: white; /* White background for the div */
    padding: 20px; /* Space inside the div, around the content */
    margin: 20px auto; /* Space outside the div, centered horizontally */
    width: 70%; /* Width of the div relative to the parent */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid green;
}

#beach-table caption {
    text-align: center;
    margin: 10px 0;
}

#beach-table th {
    background-color: lightgray; 
    padding: 10px; 
}

#beach-table td {
    border: 1px solid #ddd; 
    padding: 10px;
    background-color: #fafafa; 
}
