body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;
}

#main-nav a{
    text-decoration: none;
    background: darkblue;
    color:white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover{
    background: black;
    color: white;
    }
    