body {
    background-color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color:black;
    text-align: center;
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: black;
}

.assign{
    margin: 10px;
    padding: 10px;
    background-color: red;
    dislpay: flex;
}
.assign img{
    width: 200px;
    margin: 10px;
    border: 2px solid salmon;
    width: 20%;
    box-shadow: 8px 8px [black];
    display: block; /* instead of flex */
    border-radius: 20px; /* set last assignment */
    
}
