body {
    background-color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:black;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

.assign{
    margin: 10px;
    padding: 10px;
    background-color: red;
    dislpay: flex;
}
.assign img{
    width: 200px;
    margin: 10px;
    border: 2px solid salmon;
    
}
