body{
    margin: 0px;
    max-width:100%;
}

#content{
    background: white;
 }

 #login-menu h4{
    color: white;
 }
    
.bold{
    text-emphasis: bold;
}

#main-header{
    background: black;
}
/* Navigation Bar */
#main-nav {
    background-color: #73000A;
    padding: 1px;
}

#main-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    width: 100%;
}

#main-nav li {
    flex: 1; 
    text-align: center; 
}

#main-nav a {
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none; 
    font-size: 0.5em; 
}

/* Login Menu */
#label{
    color: white;
    text-decoration: underline; 
    font-weight: bold; 
    margin-bottom: 15px;
}
#login-menu {
    width: fit-content;
    padding: 10px;
    position: absolute;
    top: 1%;
    right: 5%;
}

#login-menu ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style-type: none; 
}

#login-menu li {
    margin-left: 2px;
    margin-right: 2px;
}

#login-menu a {
    text-decoration: none;
    color: white;
    font-size: 0.4em; 
}

#sup-big-img{
    width: 100%;
}

/*first thing*/

#first-content h1 {
    margin-top: -40px;
    margin-left: 10%;
    font-size: 3em;
  }

.inbetween{
    display: inline-block;
    padding: 10px;
    background-color:#73000A;
    color: white;
}

#first-content p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    

}
/*Research-two side content*/
#explore {
    background-color: #73000A; /* Red background */
    display: flex;
    height: 500px;
    width: 100%;
}

#explore img {
    width: 50%; 
    object-fit: cover; 
}

#right-side {
    width: 50%; 
    padding: 20px; 
    color: white; /* White text color */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
}

#explore .button{
    background-color: black;

}

/*your educational investment*/

#education-investment {
    text-align: center;
    background: #ECECEC;
    padding: 20px; /* Add padding if needed */
}

.bold {
    color: #73000A;
    font-size: 2.5em;
}

#education-investment p {
    margin-left: 30%;
    margin-right: 30%;
}

.tuition-link {
    display: inline-block;
    color: white;
    background-color: #73000A;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 20px auto;
}
/*paying for school*/
#paying-school {
    text-align: center;
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}


#paying-school .four{
    flex: 1 1 23%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#paying-school p{
    margin-left: 10%;
    margin-right: 10%;
}

#school img{
    margin-bottom: 5px;
}

.under-img{
    color: #73000A;
}

#investing-in-research {
    background-color: black;
    display: flex;
    align-items: stretch; 
    padding: 20px;
    position: relative;
}

#investing-in-research img {
    position: absolute;
    top: 0; bottom: 0;
    left: 10%;
    width: 20%; 
    height: 100%; 
    object-fit: cover; 
    margin-right: 10px; 
}

#investing-in-research #boxxed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 30%;
    width: 70%; /* Ensure this is wide enough for your content */
}

#investing-in-research h1, #investing-in-research p, #investing-in-research button {
    margin-bottom: 20px;
    color: white;
}

.button {
    align-self: flex-start;
    background-color: #73000A;
    color: white;
    padding: 8px 16px;
    font-size: 1em;
    border: none;
    display: inline-block;
    border: 2px solid white;
}

.right{
    padding-right:30px;
  }
/* footer */
#main-footer {
    background-color:#73000A ;
    padding: 20px;
  }

  #logos {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  #logos img {
    max-width: 100%; 
    height: auto; 
  }
  
  #logo-pic {
    display: flex;  
}
  
  #logo-pic li {
    margin-left: 10px; 
  }
  
  #logo-pic img {
    display: block; 
    max-width: 100%; 
    height: auto; 
  }
  
 /* Flex container for footer links */
#all-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.main-flex {
    display:flex;
    width:100%;
}

.flex1, .flex2, .flex3 {
    flex: 1;
    padding: 10px;
}

#all-links h3 {
    color: white; 
    margin-bottom: 10px;
}

#all-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#all-links ul li {
    margin-bottom: 5px;
}

#all-links a {
    color: white; 
    text-decoration: none; 
}
  #bottom {
    background-color: black;
    color: white;
    display:flex;
    font-size: .7em;
  }

  #bottom p {
    padding: 10px;
    position: relative; left: 10%;
  }
  
  @media only screen and (max-width: 768px){
    #main-nav, #login-menu{
        display: none;
    }

    #first-content h1 {
        margin-left: 0; 
        margin-right: 0;
        margin-top: 0;
        margin-left: 10%;
        font-size: 3em;   text-align: left;
        text-emphasis: bold;
      }
    
    .inbetween{
        background: none;
        color: #73000A;
    }

    #first-content p {
        margin-left: 0;  margin-right: 0;  
        text-align: left; /* Align text to the left */
    }

    #explore {
        flex-direction: column;
    }

    #explore img {
        width: auto;  
        height:50%; 
        max-width: 100%; 
        object-fit: cover; 
    }
    #right-side{
        padding: 20px;
    }

    #paying-school{
        flex-direction: column;
    }

    #school-img{
        width: 90%;
    }

    #investing-in-research {
        display: flex;
        flex-direction: column; 
        padding: 20px;
        align-items: center; 
    }

    #investing-in-research img {
        width: auto; height: auto; 
        max-width: 100%;
        margin-bottom: 20px; 
        position: static; 
    }

    #investing-in-research #boxxed {
        width: 100%; 
        margin-left: 0; margin-right: 0; 
    }

    #all-links {
        display: flex;
        flex-direction: column; /* Stack all sections vertically */
        width: 100%;
        padding: 0;
    }

    .flex-container {
        display: flex;
        flex-direction: column; /* Stack items in each flex-container vertically */
        width: 100%;
        padding: 0;
    }

    .flex-container div {
        margin-bottom: 10px; 
    }

    .main-flex {
        flex-direction: column;
        width:100%;
    }

    #bottom {
        flex-wrap: wrap;
        white-space: normal;
    }

    #bottom p{
        flex-basis:auto;
    }
      
}
  
