body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

#drinks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.drink-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    height: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.drink-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.drink-card h2 {
    font-size: 1.5em;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
}

.drink-card p {
    padding: 10px;
}
