/*Structure*/
body{
    background: url("images/ocean_background.jpeg");
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width: 70%;
    margin: auto;
    background: rgb(255,255,255,0,7);
    border-radius: 5px;

}

#main-header{
    background-color: skyblue;
}

#main-footer{
    background-color: blueviolet;
}
/*Navigation*/


/*Typography*/


/*Media quires*/