/*Structure*/
body{
    background: url("images/ocean_background.jpeg");
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width: 70%;
    margin: auto;
    background: rgb(255,255,255,0.7);
    border-radius: 5px;

}

#species section{
    background: lightgreen;
    padding :5px;
    border-radius: 5px;

}

#news section{
    background: blueviolet;
}

#img {
    max-width: 100%;
}

#main-header{
    background-color: skyblue;
}

#main-footer{
    background-color: blueviolet;
}

#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style: none;

}

#main-nav a{
    text-decoration: none;
    padding: 5px;
    background: black;
    color: blueviolet;
    display: block;
}


/*Navigation*/


/*Typography*/
#main-footer p{
    text-align: center;
}

/*Media quires*/

@media only screen and (min-width: 600px){
    .columns{
        display: flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    #main-nav li{
        flex:1;
    }

    @media only screem and (minwidth: 760px){

    }
}