/*Structure*/
body{
    background: url("images/ocean_background.jpeg");
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width: 70%;
    margin: auto;
    background: rgb(255,255,255,0,7);
    border-radius: 5px;

}

#main-header{
    background-color: skyblue;
}

#main-footer{
    background-color: blueviolet;
}

#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style: none;
}

#main-nav a{
    text-decoration: none;
    padding: 5px;
    background: black;
    color: blueviolet;
}
/*Navigation*/


/*Typography*/


/*Media quires*/