body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dodgerblue;
}

#top-header h1, h2 {
    color: black;
    text-align: center;
}


#bron{
    display: flex;
    text-align: left;
}

#back {
    background-color: aquamarine;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    width: 600px;
    margin: 0 auto; /* Center the #back div horizontally */
}

label, input, button {
    margin: 3px;
}

#grid {
    width: 400px;
    height: 400px;
    background-color: black;
    position: relative;
    margin-top: 20px;
    border: 2px solid white;
}

/* Star styling */
.star {
    width: 20px;
    height: 20px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
}

/* Error message styling */
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: none; /* Hidden by default */
}

footer{
    text-align: center;
    margin-top: 5%;
}
