body{
    background-color: lightgray;
}

/*header*/
 #header{
    text-align: center;
    display: flex;
    flex-direction: column;
 }

 #ex-nav {
    justify-content: center;
    display: flex;
}

#ex-nav ul {
    list-style-type: none;  /* Remove bullets */
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;    /* Center items horizontally */
}

#ex-nav li {
    position: relative;     /* To position the ::after pseudo-element */
    padding: 5px 0;        /* Add space around the list item */
}

/* Add the pipe '|' between items, but not after the last one */
#ex-nav li:not(:last-child)::after {
    content: '|';     
    color: #888;           
    margin-right: 2px;
}

/* Links styling */
#ex-nav a {
    padding: 5px;
    text-decoration: none; 
    color: #0066cc;    
}

/*flex-container*/
.container{    
    display: flex;           
    justify-content: center; 
    align-items: center;  
}
/*color slider*/

#color-slider{
    background-color: #A80000;
    height: 150px;
    width: 500px;
    margin: 0;
    border: 2px solid black;
}

#slider {
    margin: 0 auto; /*centered*/
    display: block; 
    width: 95%;    
}

h3 {
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #de3535;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: yellow; 
    cursor: pointer; 
    border: 1px solid black;
}

/*Picture chooser*/

#sizer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 500px;
    height: fit-content;
}

#sizer-header{
margin-bottom: 5%;
}

