body {
    background-color: lightgray;
}

/* Header */
#header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#exNav {
    justify-content: center;
    display: flex;
}

#exNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#exNav li {
    position: relative;
    padding: 5px 0;
}

#exNav li:not(:last-child)::after {
    content: '|';
    color: #888;
    margin-right: 2px;
}

#exNav a {
    padding: 5px;
    text-decoration: none;
    color: #0066cc;
}

/* Flex container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Color Slider */
#color-slider {
    background-color: #A80000;
    height: 150px;
    width: 500px;
    margin: 0;
    border: 2px solid black;
}

#slider {
    margin: 0 auto;
    display: block;
    width: 95%;
}

h3 {
    text-align: center;
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #de3535;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: yellow;
    cursor: pointer;
    border: 1px solid black;
}

/* Picture Chooser */
#sizer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 500px;
    height: fit-content;
}

#sizer #sizer-header {
    margin-bottom: 5%;
}

#sizer:not(#sizer-header){
    text-align: center; /* Center aligns child elements horizontally */
}

#picture {
    display: inline-block; /* Make sure the image is treated as an inline element */
}

#color-message{
    text-align: center;
}

#footer {
    margin-top: 10%;
    text-align: center;
}

/* ExNav Arrows */
.arrows {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    #exNav {
        justify-content: flex-start; /* Align left on mobile */
        flex-direction: column;
        align-items: flex-start;
    }

    /* Menu initially hidden */
    #exNav ul {
        display: none;
        flex-direction: column;
    }

    /* When menu is shown */
    #exNav.show ul {
        display: flex;
    }
}

@media only screen and (min-width: 769px) {

    #arrow-up, #arrow-down {
        display: none;
    }

    #exNav ul {
        display: flex;
    }

}
