body{
    background: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: lightgray;
    text-align: center;
}

#assignment1-link, #assignment2-link {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 10px;
}


