body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em; /* Reduced font size */
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em; /* Adjust font size */
}

h2 {
    text-align: start;
    font-size: 1em; /* Adjust font size */
}

h3 {
    text-align: center;
    font-size: 0.75em; /* Adjust font size */
}

#header-container {
    display: flex;
    flex-direction: column; /* Default vertical stacking */
}

#assignment1-link, #assignment2-link, #assignment3-link, #assignment4-link, #assignment5-link,
#project1-link, #project2-link, #project3-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.75em; /* Adjust font size */
}

.assignments{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* This helps in making them responsive */
}

.projects{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; 
}

.assignment{
    background-color: lightblue;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.project {
    background-color: yellow;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.ass-img, .project-img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.assignment p {
    font-size: 10px;
    color: black;
}



@media only screen and (max-width: 768px) {
    #header-container {
        flex-direction: column-reverse; /* Reverse the order on small screens */
    }

    #main-content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    #main-content h1 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        font-size: 1.125em; /* Adjust font size */
        text-align: center;
    }

    #main-content h1 span {
        display: block; 
    }

    h3 {
        text-align: center;
        font-size: 0.75em; /* Adjust font size */
    }

    .assignments, .projects {
        flex-direction: column; 
        align-items: stretch; 
    }
}
