:root {
    --color-light-gray: lightgray;
    --color-black: black;
    --color-light-blue: lightblue;
    --color-yellow: yellow;
}

body {
    background: var(--color-light-gray);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: start;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

#header-container {
    display: flex;
    flex-direction: column;
}

#assignment1-link, #assignment2-link, #assignment3-link, #assignment4-link, #assignment5-link, #assignment6-link,#assignment7-link, #assignment8-link,
#project1-link, #project2-link, #project3-link, #project4-link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    font-size: 1em;
}

.assignments {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.assignment {
    background-color: var(--color-light-blue);
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.project {
    background-color: var(--color-yellow);
    padding: 10px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.ass-img, .project-img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.assignment p {
    font-size: 10px;
    color: var(--color-black);
}

@media only screen and (max-width: 768px) {
    #header-container {
        flex-direction: column-reverse;
    }

    #main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-content h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.125em;
        text-align: center;
    }

    #main-content h1 span {
        display: block;
    }

    h3 {
        text-align: center;
        font-size: 0.75em;
    }

    .assignments, .projects {
        flex-direction: column;
        align-items: stretch;
    }
}
