body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: lightgray;
    text-align: center;
}

h2 {
    text-align: start;
}

h3  {
text-align: center;
}

#header-container {
    display: flex;
    flex-direction: column; /* Default vertical stacking */
    
}

#assignment1-link, #assignment2-link, #assignment3-link, #assignment4-link{
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
}

ul li {
    margin: 10px;
}

.one, .two, .three, .four {
    background: lightblue;
    padding: 20px;
    flex: 1; 
    text-align: center; 
    margin: 10px; 
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    #header-container {
        flex-direction: column-reverse; /* Reverse the order on small screens */
    }

    #main-content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    #main-content h1 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        font-size: 1.5em; 
        text-align: center;
    }

    #main-content h1 span {
        display: block; 
    }
   
    h3 {
        text-align: center;
    }

    #main-assignments ul {
        flex-direction: column; 
        align-items: stretch; 
    }
}
