body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    margin-bottom: 5px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#bird-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.bird {
    background-color: dodgerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.bird img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Styling for the expanded details */
#bird-details {
    position: fixed;
    top: 50%; /* Adjust to center vertically */
    left: 50%; /* Adjust to center horizontally */
    transform: translate(-50%, -50%); /* Translate to the center of the screen */
    width: 60%;
    height: auto; /* Set height to auto for content fit */
    max-height: 80%; /* Max height to avoid overflow */
    background-color: lightgray;
    color: black;
    padding: 20px;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for popup effect */
    overflow-y: auto; /* Allow scroll if content overflows */
}

#bird-details img {
    width: 50%;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: black;
}
