body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    margin-bottom: 5px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#bird-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.bird {
    background-color: dodgerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.bird img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Styling for the expanded details */
#bird-details {
    position: fixed; /* Position it fixed to overlay */
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: lightgray;
    color: white;
    padding: 20px;
    display: none; /* Initially hidden */
    justify-content: center; /* Center content */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack items */
}

#bird-details img {
    width: 50%;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}
